html {
    background-color: black;
    overflow-x: hidden;
    overflow: hidden;
}

* {
    font-family: sans-serif;
    color: white;
}

p {
    font-size: 0.9rem;
    color: black;
    font-weight: 400;
    font-family: "pragmatica-extended", sans-serif;
}

.element-text {
    font-weight: 500;
}

a {
    text-decoration: underline;
    font-size: 0.8rem;
    color: white;
    opacity: 0.8;
}

.behind-hed {
    color: black;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 5%;
    z-index: 999;
}

.padding {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.content {
    position: absolute;
    display: flex;
    width: 101%;
    height: 101%;
    align-items: center;
    justify-content: center;
    top: -10px;
    left: -10px;
}

.bottom-tag {
    position: absolute;
    bottom: 5px;
}

.wrapper {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1000;
  }
  
  .knob {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 2.5%;
    right: 7%;
  }

.sun-knob {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: rgb(203, 203, 203) solid 5px;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.90);
}

.inner-sun-knob {
    background-color: black;
    width: 90%;
}
  
  .knob_inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid lightgray;
    background-color: gray;
  }

.space-taker{
    width: 20px;
}

.knob-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    background-color: #BBB6AE;
    border-radius: 10%;
    padding: 1rem;
}

.knob-card-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.soft-border {
    border-radius: 50px;
    border: solid black 1px;
}

.knob-card-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: none;
    padding-top: none;
}

.card-element-container {
    display: flex;
    flex-direction: row;
}

.card-sign-container{
    display: flex;
    flex-direction: row;
}

.element-icon {
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    width: 20px;
    height: 100%
}

.progress-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.progress-bar {
    max-width: 3px;
    min-width: 3px;
    margin-left: 3px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 10px;
}

.filled {
    background-color: black; 
}
  
  #progress-ring {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(hotpink 0deg, hotpink 0deg, black 0deg 360deg);
    z-index: -1;
  }
